@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
    overflow: hidden; 
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(../asset/images/background-login.jpg);
	background-size: cover;
	filter: blur(2px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
    width: 200px;
    height: 35px;
    background-image: url('../asset/images/logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.message-container {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 1000;
}
.message {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	width: 300px;
	line-height: 25px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #fff;
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	position: relative;
	overflow: hidden;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.message.show {
	animation: slideIn 0.5s forwards;
}
.message.hide {
	animation: fadeOutSlideUp 0.5s forwards;
}
.message::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 100%;
	background: transparent;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.5s ease-out;
}
@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
		visibility: visible;
	}
	to {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}
@keyframes fadeOutSlideUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}
@keyframes borderAnimation {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}
.message.success {
	background-color: #28a745;
}
.message.error {
	background-color: #dc3545;
}
.message.warning {
	background-color: #ffc107;
}
.message.success::after {
	background: #dc3545;
	animation: borderAnimation 2s linear forwards;
}
.message.error::after {
	background: #ffc107;
	animation: borderAnimation 2s linear forwards;
}
.message.warning::after {
	background: #28a745;
	animation: borderAnimation 2s linear forwards;
}